* {
  box-sizing: border-box;
}

body {
  margin: 0px;
}

.menuItens {
  list-style: none;
  padding: 0;
  text-align: center;
}

.menuItem {
  display: inline-block;
  border: 1px solid grey;
  border-radius: 2px;
  padding: 15px;
  width: 80px;
  margin: 10px;
  background-color: bisque;
}

a {
  color: inherit;
  text-decoration: none;
}

.newsItem {
  display: inline-block;
  width: 50%;
  border: 1px solid red;
  vertical-align: top;
  padding: 20px;
}

main {
  font-size: 0;
}

/* h2 {
  font-size: 18px;
}
p {
  font-size: 14px;
} */

article {
  font-size: initial;
}
