h1 {
  color: blue;
  font-size: 20px;
  text-align: center;
}
/* типу */
#topNews {
  color: red;
}

/* класу */
.abstract {
  color: grey;
}

/* id */
h2 {
  color: green;
}

/* Перше і останнє посилання зробити 10px (селектор класу)*/
.testLink {
  font-size: 10px;
}
